<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="BotRoot" value="./bots"/>
    <add key="BotEditor" value="C:/Program Files/EditPlus 2/editplus.exe"/>
    <add key="DefaultHostAddress" value="192.168.0.2"/>
    <add key="DefaultHostPort" value ="9118"/>
    <add key="DefaultBotName" value="no name"/>
  </appSettings>

</configuration>
